.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.search-bar input {
  width: 80%;
  max-width: 500px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
}
